 body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      overflow: hidden;
      font-family: 'Cousine', serif; /* Set font to EB Garamond */
      position: relative;
      box-shadow: 5px 5px 0px 0px rgba(31, 32, 32, 1);

    }

    body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 200vw;
      height: 200vh;
background-image: linear-gradient(25deg, #a12152, #bd6e78, #d3afa0, #e3f1ca);      z-index: -1;
      opacity: 0.8; /* Set the opacity for the entire background */
      box-shadow: 5px 5px 0px 0px rgba(31, 32, 32, 1);

    }

    #popupContainer {
      position: relative;
      z-index: 1;
      width: 400px; /* Adjust the width as needed */
      padding: 20px;
      background-color: transparent; /* Transparent background */
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 200%;

    }

    #popupContainer label {
      margin-bottom: 8px;
      font-family: 'Cousine', serif; /* Set font to EB Garamond */

    }

#popupContainer input {
  width: 70%;
  padding: 8px;
  margin-bottom: 12px;
  font-size: 15px;
  border: 2px solid #333333; /* Border color similar to the button */
  border-radius: 0px;
  background-color: transparent; /* Transparent background */
}

#popupContainer input:focus {
  outline: none;
  border-color: #394725; /* Border color on focus */
}

    #feedbackMessage {
      margin-top: 10px;
      margin-bottom: 20px;
      color: #0F2219; 
      font-family: 'Georgia Pro', serif; /* Set font to EB Garamond */
size: 20px;
    }

    #saveToken {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      color: #2a2929;
      font-size: 18px;
      border-radius: 0px;
      width: 150px;
      height: 40px;
      font-weight: bold;
      border: 2px solid #333333;
      transition: 0.3s;
      box-shadow: 5px 5px 0px 0px rgba(31, 32, 32, 1);
  background-image: conic-gradient(at 0% 0%, rgba(248, 237, 212, 0.91) 76deg, rgba(211, 223, 250, 0.91) 160deg, rgba(235, 232, 226, 0.91) 328deg, rgba(234, 241, 251, 0.91) 360deg);
    }

    #saveToken:hover {
      box-shadow: 0 0 #333;
      color: #fff;
      background-color: #333;
    }

    .helpLink {
      position: fixed; /* Change from absolute to fixed */
      cursor: pointer;
      font-size: 20px;
      font-family: 'EB Garamond', serif; /* Set font to EB Garamond */
    }

    #helpLink1 {
      bottom: 10px;
      left: 10px;
    }

    #helpLink2 {
      bottom: 10px;
      right: 10px;
    }

    #malinaIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  font-family: 'Georgia Pro', serif; /* Set font to Georgia Pro */
}

#malinaIcon img {
  width: 25px; /* Adjust the size of the icon */
  height: 25px;
  margin-right: 5px;
}

//.malinaText {
  font-size: 24px; /* Adjust the font size for the text */
  font-family: 'Georgia Pro', serif; /* Set font to Georgia Pro */
}